section.sgspority-banner
  .swiper-container
    .swiper-wrapper
      .swiper-slide
        .box-img
          img(src="./img/home/banner.jpg", alt="banner")
      .swiper-slide
        .box-img
          img(src="./img/home/banner.jpg", alt="banner")
      .swiper-slide
        .box-img
          img(src="./img/home/banner.jpg", alt="banner")
section.about-sgspority.animatable
  .container
    h2.main-title about sg spority
      span.animatable.showDots
    .content
      .content__left
        p A Virtual Challenge For Anyone.
        p SG Spority is all about making sports beautiful by combining the pleasure of sports with the joy of giving. As a virtual event, you can cycle, run or skate anywhere at your own pace to reach the target distance of 5.5km. It doesn’t matter how long you take, as long as you get moving!
      .content__right
        p SG Spority 2020 is proud to be supporting Club Rainbow Singapore a kids focused charity organisation. For every registration, SG Spority pledges to channel $5 to a fund that will support the beneficiaries of Club Rainbow Singapore. In the spirit of National Day in these trying times, let’s come together as a nation to reach the overall target of helping 550 beneficiaries with their daily necessities.
section.participate
  .container
    h2.main-title how to participate
      span.animatable.showDots
  .list-item
    .item.animatable.zoomReverseIn
      .box-img
        img(src="./img/home/participate-1.png", alt="")
      .title cycle
    .item.animatable.zoomReverseIn
      .box-img
        img(src="./img/home/participate-2.png", alt="")
      .title run
    .item.animatable.zoomIn
      .box-img
        img(src="./img/home/participate-3.png", alt="")
      .title skate
  .container
    .content
      .content__list.animatable
        .content__item
          .position
            span.number 1
          .text
            p Sign up for a fee of $7.50 and complete your
              strong 5.5km of Cycle, Run or Skate
            | (or a combination of any!) between 20 th July to 9th August.
        .content__item
          .position
            span.number 2
          .text
            p Record your activity using any suitable fitness apps that can
              strong display the date, time and distance
            | of the activity and take a photo of the completion details.
            p Can’t finish it in one go?
              strong You can accumulate the distance in up to 3 sessions!
        .content__item
          .position
            span.number 3
          .text
            p Upload a photo of yourself and the proof of activity to be eligible for an
              strong e-certificate customised with your own photo!
section.giving-back
  .container
    h2.main-title Giving back
      span.animatable.showDots
  .full-content
    .container
      .box-content
        .content
          p For every registration, SG Spority pledges to channel $5 to a fund that will help up to 550 beneficiaries of Club Rainbow Singapore with their daily necessities when we reach the event goal.
          strong For every 100 participants, one heart will light up.
          p Spread the word and help us light up all 55 hearts!
        .box-img
          img(src="./img/home/giving-back.png", alt="")
    .banner
      img(src="./img/1920x450.png", alt="")
    .container
      .box-content
        .content
          p Club Rainbow Singapore is a non profit organisation that provides a range of compassionate relevant services for the families of children who suffer from major chronic and potentially life threatening illnesses.
          p Your participation contributes to a fund that will go towards supporting beneficiaries of Club Rainbow Singapore, with daily necessities that can last them up to a month. When we reach the event target, up to 550 beneficiaries will benefit from your actions. Show your support by going the distance with SG Spority!
        .box-img
          img(src="./img/home/club-rainbow.png", alt="")
section.wall-of-encouragement
  .container
    h2.main-title wall of encouragement
      span.animatable.showDots
  .list-item
    -for(i=1;i<9;i++)
      .item.animatable
        .content
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae culpa illum, laboriosam magnam quod inventore qui natus sint aliquam laudantium quasi rem, molestias iure ea distinctio sunt recusandae reprehenderit ratione.
        .bottom
          .logo
            img(src="./img/home/logo.png", alt="")
          .author LOREM IPSUM - LOREN COMPANY NO.1
section.partners
  .container
    h2.main-title partners
      span.animatable.showDots
  .partners__slider
    .container
      .swiper-container
        .swiper-wrapper
          .swiper-slide
            .title Organised by
            a(href="#").box-img
              img(src="./img/home/logo-sg-spority-dark.png", alt="")
          .swiper-slide
            .title Organised by
            a(href="#").box-img
              img(src="./img/home/partners-1.png", alt="")
          .swiper-slide
            .title Supported by
            a(href="#").box-img
              img(src="./img/home/partners-2.png", alt="")
          .swiper-slide
            .title In conjunction by
            a(href="#").box-img
              img(src="./img/home/partners-3.png", alt="")
          .swiper-slide
            .title In support of
            a(href="#").box-img
              img(src="./img/home/club-rainbow.png", alt="")
.section.contactus
  .container
    h2.main-title contact us
      span.animatable.showDots
    .wrap-form
      .left
        .form-group.qtext
          label(for="") name
          input(type="text", name="" class="name" Placeholder="Requaired Field")
        .form-group.qtext
          label(for="") Email
          input(type="email", class="email" name="" Placeholder="Requaired Field")
        .form-group.qtext
          label(for="") contact
          input(type="text", name="" class="phone" Placeholder="Requaired Field")
      .right
        .form-group.qcontent
          label(for="") name
          textarea(name="", cols="30", rows="10" Placeholder="Type something")
        .form-group.btn-submit
          input(type="submit", value="Submit")
  .aboutus-bottom
    a.logo-pich(href="#")
      img(src="./img/home/pich-white.png", alt="")
    .social-list
      a(href="#")
        em.mdi.mdi-instagram
      a(href="#")
        em.mdi.mdi-facebook




