header.header
  .container
    .header-wrapper
      a.logo(href="#")
        img(src="./img/home/logo-sg-spority-white.png", alt="")
      nav.menu
        ul.menu__list
          li.menu__item.has-dropdown
            a.menu__link(href="#") sg spority
            em.mdi.mdi-menu-down.dropdown-icon
            ul.nav-sub
              li
                a(href="#") about sg spority
              li
                a(href="#") how to parcitipate
              li
                a(href="#") giving back
          li.menu__item
            a.menu__link(href="#") faq
          li.menu__item
            a.menu__link(href="#") rules & regulation
          li.menu__item
            a.menu__link(href="#") contact us
      .buttons
        a.btn.btn--register(href="#") register
        span /
        a.btn.btn--login(href="#") login
      .toggle-btn
        .btn
      .mobile-inner-nav

